@font-face {
    font-family: Handel Gothic;
    src: url('../fonts/handel-gothic.otf')
}

h1, h2 {
    text-align: center;
}

h1 {
    font-family: Handel Gothic;
    font-size: 50px;
}

h2 {
    color: gray;
    font-family: Handel Gothic;
}

p {
    font-family: Handel Gothic;
}